# Data Analysis Project

### Pandas API
Pandas is an open-source Python library with powerful and built-in methods to efficiently clean, analyze, and manipulate datasets. Developed by Wes McKinney in 2008, this powerful package can easily blend with various other data science modules in Python.

Pandas is built on top of the NumPy library, i.e., its data structures Series and DataFrame are the upgraded versions of NumPy arrays.

In [3]:
import pandas as pd
import numpy as np

Pandas conveniently provides a function to read and save excel files.

### Dataset Pre-analysis

In [12]:
dataset = pd.read_excel("C:/Users/ms742/DataAnalysisProject/AQUASTAT Dataset.xlsx")

Here is the first 10 rows of the dataset. The dataset is vertically sorted by the subgroup and variable and then every area or country is grouped together in ascending order of year.

In [14]:
dataset.head(10)

,VariableGroup,Subgroup,Variable,Area,Year,Value,Unit,Symbol,IsAggregate
0,Environment and health,Access to improved drinking water source,Rural population with access to safe drinking-...,Afghanistan,2012,43.7,%,X,False
1,Environment and health,Access to improved drinking water source,Rural population with access to safe drinking-...,Afghanistan,2013,45.4,%,X,False
2,Environment and health,Access to improved drinking water source,Rural population with access to safe drinking-...,Afghanistan,2014,47.0,%,X,False
3,Environment and health,Access to improved drinking water source,Rural population with access to safe drinking-...,Afghanistan,2015,47.0,%,X,False
4,Environment and health,Access to improved drinking water source,Rural population with access to safe drinking-...,Afghanistan,2016,47.0,%,I,False
5,Environment and health,Access to improved drinking water source,Rural population with access to safe drinking-...,Afghanistan,2017,47.0,%,I,False
6,Environment and health,Access to improved drinking water source,Rural population with access to safe drinking-...,Afghanistan,2018,47.0,%,I,False
7,Environment and health,Access to improved drinking water source,Rural population with access to safe drinking-...,Afghanistan,2019,47.0,%,I,False
8,Environment and health,Access to improved drinking water source,Rural population with access to safe drinking-...,Afghanistan,2020,47.0,%,I,False
9,Environment and health,Access to improved drinking water source,Rural population with access to safe drinking-...,Afghanistan,2021,47.0,%,I,False

In [15]:
dataset.info() # Function retrieves technical info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   VariableGroup  50000 non-null  object
 1   Subgroup       50000 non-null  object
 2   Variable       50000 non-null  object
 3   Area           50000 non-null  object
 4   Year           50000 non-null  int64
 5   Value          50000 non-null  float64
 6   Unit           43041 non-null  object
 7   Symbol         50000 non-null  object
 8   IsAggregate    50000 non-null  bool
dtypes: bool(1), float64(1), int64(1), object(6)
memory usage: 3.1+ MB

All of the entries listed as 'object' are character strings. The symbol 'I' means imputed, 'X' means external and 'E' means estimate. This indicates how the information was sourced. For the purposes of this project the symbol column shall be discarded and the isAggregate column also. 'isAggregate' is true if the area is a combination of multiple countries or regions such as 'South-east Asia'. A selection few countries shall be included in the cleaned dataset not regions; therefore the isAggregate is not necessary.

### Dataset Filtering & Cleaning

In [24]:
dataset_afghanistan = dataset[dataset["Area"] == "Afghanistan"]

In [17]:
dataset_afghanistan

,VariableGroup,Subgroup,Variable,Area,Year,Value,Unit,Symbol,IsAggregate
0,Environment and health,Access to improved drinking water source,Rural population with access to safe drinking-...,Afghanistan,2012,43.700000,%,X,False
1,Environment and health,Access to improved drinking water source,Rural population with access to safe drinking-...,Afghanistan,2013,45.400000,%,X,False
2,Environment and health,Access to improved drinking water source,Rural population with access to safe drinking-...,Afghanistan,2014,47.000000,%,X,False
3,Environment and health,Access to improved drinking water source,Rural population with access to safe drinking-...,Afghanistan,2015,47.000000,%,X,False
4,Environment and health,Access to improved drinking water source,Rural population with access to safe drinking-...,Afghanistan,2016,47.000000,%,I,False
...,...,...,...,...,...,...,...,...,...
49875,Irrigation and drainage development,Area equipped for irrigation by source of water,% of area equipped for irrigation by groundwater,Afghanistan,2017,17.992519,%,I,False
49876,Irrigation and drainage development,Area equipped for irrigation by source of water,% of area equipped for irrigation by groundwater,Afghanistan,2018,17.992519,%,I,False
49877,Irrigation and drainage development,Area equipped for irrigation by source of water,% of area equipped for irrigation by groundwater,Afghanistan,2019,17.992519,%,I,False
49878,Irrigation and drainage development,Area equipped for irrigation by source of water,% of area equipped for irrigation by groundwater,Afghanistan,2020,17.992519,%,I,False
49879,Irrigation and drainage development,Area equipped for irrigation by source of water,% of area equipped for irrigation by groundwater,Afghanistan,2021,17.992519,%,I,False

As an example I can filter out for only the rows with the country Afghanistan.

For the purposes of this dataset I shall include 30 countries. A particular country is not selected for any important reason.

In [22]:
countries = {"Afghanistan", "Mongolia", "Iraq", "Italy", "Slovenia", "Tunisia", "France", "Bolivia", "Sudan", "Egypt", "Japan", "Burkina Faso", "Kenya", "Syria", "Azerbaijan", "Mexico", "Norway", "Türkiye", "Philipines", "Austrailia", "Russia", "Argentina", "Zambia", "Jamaica", "Finland", "Oman", "Brazil", "Nepal", "Vietnam", "Switzerland"}

print(len(countries))

30

In [25]:
dataset_filtered = dataset[dataset["Area"].isin(countries)]

In [26]:
dataset_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6218 entries, 0 to 49979
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   VariableGroup  6218 non-null   object
 1   Subgroup       6218 non-null   object
 2   Variable       6218 non-null   object
 3   Area           6218 non-null   object
 4   Year           6218 non-null   int64
 5   Value          6218 non-null   float64
 6   Unit           5286 non-null   object
 7   Symbol         6218 non-null   object
 8   IsAggregate    6218 non-null   bool
dtypes: bool(1), float64(1), int64(1), object(6)
memory usage: 443.3+ KB

In [27]:
dataset_filtered['Area'].nunique() # Confirming that there are 30 countries in the dataset.

24

Initially this gave 24 countries instead of the 30 it should give.

In [78]:
for column in dataset_filtered.columns:
    if column == 'VariableGroup':
        unique_values = dataset_filtered["Area"].unique()
        print(f"Unique values in column '{column}': {unique_values}")

Unique values in column 'VariableGroup': ['Afghanistan' 'Argentina' 'Australia' 'Azerbaijan'
 'Bolivia (Plurinational State of)' 'Brazil' 'Burkina Faso' 'Egypt'
 'Finland' 'France' 'Iraq' 'Italy' 'Jamaica' 'Japan' 'Kenya' 'Mexico'
 'Mongolia' 'Nepal' 'Norway' 'Oman' 'Philippines' 'Russian Federation'
 'Slovenia' 'Sudan' 'Switzerland' 'Syrian Arab Republic' 'Tunisia'
 'Türkiye' 'Viet Nam' 'Zambia']

In [55]:
# Bolivia (Plurinational State of), Syrian Arab Republic, Philippines, Russian Federation, Viet Nam, and Australia. Were misspelled.

countries = {"Afghanistan", "Mongolia", "Iraq", "Italy", "Slovenia", "Tunisia", "France", "Bolivia (Plurinational State of)", "Sudan", "Egypt", "Japan", "Burkina Faso", "Kenya", "Syrian Arab Republic", "Azerbaijan", "Mexico", "Norway", "Türkiye", "Philippines", "Australia", "Russian Federation", "Argentina", "Zambia", "Jamaica", "Finland", "Oman", "Brazil", "Nepal", "Viet Nam", "Switzerland"}

dataset_filtered = dataset[dataset["Area"].isin(countries)]

dataset_filtered['Area'].nunique()

30

The error has been rectified, now the unneccsary columns shall be pruned.

In [57]:
dataset_filtered.drop(columns=['Symbol', 'IsAggregate'], inplace=True)

In [58]:
dataset_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7892 entries, 0 to 49979
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   VariableGroup  7892 non-null   object
 1   Subgroup       7892 non-null   object
 2   Variable       7892 non-null   object
 3   Area           7892 non-null   object
 4   Year           7892 non-null   int64
 5   Value          7892 non-null   float64
 6   Unit           6726 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 493.2+ KB

### Preliminary Dataset Analysis

I am mostly interested in water scarcity in each country so let's calculate the mean access to water for every country for every year included in the filtered dataset.

In [60]:
# Filter the dataset for rows where 'Variable' is 'Access to safe drinking water'
water_access_dataset = dataset_filtered[dataset_filtered["Variable"] == "Total population with access to safe drinking-water (JMP)"]

In [61]:
# Group by 'Area' and calculate the mean of 'Value'
mean_access_to_water = water_access_dataset.groupby("Area")["Value"].mean()

In [76]:
# Displaying Results
mean_access_to_water.sort_values(ascending=False, inplace=True) # Pandas library function for sorting series.

In [77]:
mean_access_to_water

Area
Italy                               100.00
Norway                              100.00
Japan                               100.00
Switzerland                         100.00
Australia                           100.00
France                              100.00
Finland                             100.00
Türkiye                              99.93
Slovenia                             99.50
Egypt                                99.29
Argentina                            99.00
Brazil                               98.01
Tunisia                              97.58
Russian Federation                   96.86
Viet Nam                             96.85
Mexico                               95.95
Jamaica                              93.80
Oman                                 93.38
Philippines                          91.60
Nepal                                91.06
Syrian Arab Republic                 90.10
Bolivia (Plurinational State of)     89.77
Iraq                                 86.54
Azerbaijan                           86.50
Burkina Faso                         82.18
Zambia                               64.92
Mongolia                             64.27
Kenya                                62.94
Sudan                                55.50
Afghanistan                          54.73
Name: Value, dtype: float64